p {
    text-align: justify;
    width: fit-content;
}

ul li {
    text-align: left;
}

header h1.f1 {
    height: 0;
    font-size: 0;
    margin: 0;
}

header p {
    margin: 0;
}

article.pv5 {
    padding-top: 1em;
}

main article div.lh-copy {
    line-height: 1em;
}

main article div.pr4-l {
    padding: 0;
}

h2 {
    text-align: left;
}

h4 {
    text-align: left;
    font-style: italic;
}

hr {
    margin-top: 1em;
    margin-bottom: 3em;
    border: 0.1rem solid #96ccff;
}

p code {
    background-color: #ddd;
}

.f1 {
    visibility: hidden;
}

.f4 {
    font-size: 1em;
}

.pb7 {
    padding-bottom: 2em;
}

.mw7 {
    max-width: 70rem;
}

.measure-wide {
    max-width: 70rem;
}

.w-two-thirds-l {
    width: 100%;
}